@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

body {
  @apply font-roboto-slab-400;
}

@utility bg-default {
  background-image: radial-gradient(
    ellipse at top right,
    #03183b,
    #010c1d,
    #010c1d,
    #03183b
  );
}

@utility gradient-text {
  background-clip: text;
  color: transparent;
  /*@apply bg-gradient-to-br from-[#B1CEFB] via-[#8AB5FA] via-[#3B82F6] to-[#639CF8];*/
  @apply bg-gradient-to-bl from-violet-500 via-blue-500 to-green-500;
}

/* FONTS */
/* ROBOTO SLAB */
@font-face {
  font-family: "Roboto Slab", "sans-serif";
  font-style: normal;
  font-display: swap;
}
@utility font-roboto-slab-100 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 100;
  font-style: normal;
}
@utility font-roboto-slab-200 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 200;
  font-style: normal;
}
@utility font-roboto-slab-300 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 300;
  font-style: normal;
}
@utility font-roboto-slab-400 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 400;
  font-style: normal;
}
@utility font-roboto-slab-500 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 500;
  font-style: normal;
}
@utility font-roboto-slab-600 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 600;
  font-style: normal;
}
@utility font-roboto-slab-700 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 700;
  font-style: normal;
}
@utility font-roboto-slab-800 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 800;
  font-style: normal;
}
@utility font-roboto-slab-900 {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 900;
  font-style: normal;
}

/* SOURCE CODE PRO */
@font-face {
  font-family: "Source Code Pro", "sans-serif";
  font-style: normal;
  font-display: swap;
}
@utility font-source-code-pro-100 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 100;
  font-style: normal;
}
@utility font-source-code-pro-200 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 200;
  font-style: normal;
}
@utility font-source-code-pro-300 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 300;
  font-style: normal;
}
@utility font-source-code-pro-400 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 400;
  font-style: normal;
}
@utility font-source-code-pro-500 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 500;
  font-style: normal;
}
@utility font-source-code-pro-600 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 600;
  font-style: normal;
}
@utility font-source-code-pro-700 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 700;
  font-style: normal;
}
@utility font-source-code-pro-800 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 800;
  font-style: normal;
}
@utility font-source-code-pro-900 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 900;
  font-style: normal;
}
